.gauge {
  min-width: 100px;
  max-width: 300px;
  min-height: 100px;
  max-height: 300px;
  width: 10%;
  height: 20%;
  overflow: hidden;
  background-color: #99DD99;
}

.needle {
  /* position: absolute; */
  width: 10px;
  background-color: red;
  height: 90px;
  margin: 0 auto;
}